$max-width: 1170px;
$breakpoint-lg: 992px;
$breakpoint-tablet: 768px;
$breakpoint-mobile: 480px;
$breakpoint-mobile-xs: 320px;

.body-section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .section-container {
    width: $max-width;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 30px;

    @media (max-width: $max-width) {
      width: $breakpoint-lg;
    }

    @media (max-width: $breakpoint-lg) {
      width: $breakpoint-tablet;
    }

    @media (max-width: $breakpoint-tablet) {
      width: 100%;
    }
  }
}