@import "../../styles/_variables";

.review-item {
  border-radius: 12px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.06);
  background-color: white;

  &__avatar {
    width: 48px; 
    height: 48px;
    border-radius: 50%;
    object-fit: cover;
  }

  &__text {
    margin-bottom: 15px; 
  }

  &__pros-cons {
    font-size: 0.95rem;

    strong {
      font-weight: 600;
    }
  }
}
