$btn-color: #3a174b;
$bg-page: #f0f2f5;
$bg-card: rgba(255, 255, 255, 0.2);
$white: #ffffff;

$main-font: 'Gilroy', sans-serif;

$color-accent-light:  #713191;
$color-accent-dark:  #3a174b;

$color-secondary: #D9D9D9;
$color-secondary-light: #E0E0E0;
$color-background: #F3F3F3;
$color-surface: #ffffff;

$color-text-light: #ffffff;
$color-text-dark: #000000;
$color-text-muted: #231F20BF; 
$color-text-transparent: #00000080; 

$shadow-light: 0 3px 5px rgba(0, 0, 0, 0.1);
$overlay-light: rgba(0, 0, 0, 0.1);
$border-light: 1px solid #00000080;

$max-width: 1170px;
$breakpoint-lg: 992px;
$breakpoint-tablet: 768px;
$breakpoint-mobile: 480px;
$breakpoint-mobile-xs: 320px;

$gap-xs: 5px;
$gap-sm: 10px;
$gap-md: 15px;
$gap-lg: 20px;
