@import "../../styles/_variables";

.review-modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 9999;

  &__backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
  }
  &__avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
  }

  &__btn {
    padding: 10px 20px !important;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-weight: 500;

    &.btn-cancel {
      border: 1px solid $color-accent-light !important;
      color: $color-accent-light !important;
      background-color: transparent;
      transition: color 0.2s ease, background-color 0.2s ease;

      &:hover {
        background-color: $color-accent-light;
        color: #fff !important;
      }
    }

    &.btn-submit {
      background-color: $color-accent-light !important;
      border: none !important;
      color: $color-surface;
    }
  }
}

.review-modal__content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) translateY(-50px);
  opacity: 0;
  background: #fff;
  padding: 25px;
  border-radius: 12px;
  width: 100%;
  max-width: 600px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  z-index: 10000;

  .review-modal--show & {
    transform: translate(-50%, -50%) translateY(0);
    opacity: 1;
  }
}

.review-modal__backdrop {
  opacity: 0;
  transition: opacity 0.3s ease;

  .review-modal--show & {
    opacity: 1;
  }
}