body, html {
    margin: 0;
    padding: 0;
}



.header-site {
    background-color: antiquewhite;
    width: 100vw;
    height: 10vh;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
}

.header-container {

    display: flex;
    align-items: center;
    padding: 0 0px;
    margin-bottom: -10px;

}
.logo img {
    width: 95px;
    height: 155px;

}



.hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25px;
    height: 18px;
    cursor: pointer;
}

.hamburger span {
    display: block;
    height: 3px;
    background: #333;
    border-radius: 2px;
}

/* Навигация для больших экранов */
.nav-links {
    display: flex;
    gap: 20px;
}

/* Боковое меню */
.side-menu {
    position: fixed;
    top: 81px;
    left: -300px;
    width: 250px;
    height: 100vh;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    padding: 60px 20px;
    gap: 20px;
    transition: right 0.3s ease;
    z-index: 999;
}

.side-menu.open {
    left: 0;
}

/* Скрываем навигацию на мобильных */
@media (max-width: 768px) {
    .nav-links {
        display: none;
    }
}


.search-form {
    display: flex;
    position: relative;
    align-items: center;
    gap: 5px;
    text-align: left;
}

.search-form input {
    text-align: left;
    padding: 15px 200px;
    border: 1px solid black;
    border-radius: 15px;
    background-color: white;
    font-size: 15px;
    margin-left: 250px;
    color: black;
}

.search-form button {
    padding: 5px 10px;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    position: absolute;
    right: 5px;   /* позиция кнопки внутри input */
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    background-color: white;

}

/* Адаптивно: скрыть поиск на мобильных */
@media (max-width: 768px) {
    .search-form {
        display: none;
    }
}