@import '../../styles/_variables';
.rating {
  display: flex;
  align-items: center;
  gap: 6px;

  .stars {
    display: flex;
    gap: 2px;
  }

  .star {
    font-size: 23px;
    color: #ccc;

    &.filled {
      color: $color-accent-light;
    }
  }

  .rating-value {
    font-size: 14px;
    color: #666;
  }

  &--interactive {
    .stars {
      gap: 5px;
    }

    .star {
      font-size: 35px;
      cursor: pointer;

      transition:
        transform 0.2s ease,
        color 0.2s ease;

      &:hover {
        transform: translateY(-2px) scale(1.2);
      }
  }
}
}
