@font-face {
  font-family: 'Gilroy';
  src: url('./assets/fonts/Gilroy-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

$main-font: 'Gilroy', sans-serif;

* {
  padding: 0;
  margin: 0;
  font-family: $main-font;
  box-sizing: border-box;
}

button{
  padding: 0!important;
  // background-color: white!important;
  // border: none!important;
  // outline: none!important;
}