@import '../../styles/_variables';

.image-layout {
  display: flex;
  width: 100%;
  aspect-ratio: 1 / 1;
  gap: 10px;

  .thumb-horizontal {
    width: 100%;
    display: none;

    .slick-arrow {
      display: none !important;
    }

    .slick-slide {
      height: auto;
    }

    .slide {
      height: 120px;
      padding: 5px;
    }

    .slide img {
      border: 1px solid rgba(0, 0, 0, 0.2);

      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 10px;
      display: block;
    }
  }

  .main-image {
    flex: 1;
    height: 100%;
    overflow: hidden;
    border-radius: 14px;

    img {
      height: 100%;
      width: 100%;
      border-radius: 14px;
      object-fit: cover;
      display: block;
      border: 1px solid rgba(0, 0, 0, 0.2);



    }
  }

  .thumb-horizontal {
    display: none;
  }

  .thumb-vertical {
    width: 110px;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    .slick-slider,
    .slick-list,
    .slick-track {
      height: 100% !important;
    }

    .thumb-wrapper {
      img {
        width: 100%;
        aspect-ratio: 1 / 1;
        object-fit: cover;
        border-radius: 8px;
      }
    }
  }
}

@media (max-width: 992px) {
  .image-layout {
    flex-direction: column;
    height: 100%;
    max-height: 630px;
  }

  .thumb-horizontal {
    display: block !important;
  }

  .left-side {
    flex-direction: column;

    .main-image {
      padding: 5px;

    }
  }

  .thumb-vertical {
    display: none !important;

  }
}

@media (max-width: 768px) {
  .main-image {
    padding: 0 !important;



  }

  .image-layout {
    flex-direction: row;
  }

  .thumb-horizontal {
    display: none !important;
  }

  .thumb-vertical {
    display: flex !important;
    width: 110px !important;
  }

  .main-image img {
    padding: 0 !important;
  }

}

@media (max-width: 480px) {
  .main-image {
    aspect-ratio: 1/1;
    padding: 5px !important;
  }

  .image-layout {
    flex-direction: column;
    height: auto !important;
  }

  .thumb-horizontal {
    display: block !important;
  }

  .thumb-vertical {
    display: none !important;
  }
}